.hero-section {
    background-color: #000000;
    padding-top: 3.5rem;
    padding-bottom: 4rem;
    border: none;
}

.hero-section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hero-section-left {
    flex: 1;
}

.hero-section-left h1 {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
}

.hero-section-left h1 span {
    color: #FFC300;
}

.hero-section-left p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 1.5rem;
}

.btn-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1.5rem;
}

.resume {
    background-color: #FFC300;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: 300ms linear;
    padding: .9rem 1.7rem;
}

.resume:hover {
    transform: translateY(-4px);
}

.skillset {
    background-color: #000000;
    color: #FFC300;
    border: 1px solid #FFC300;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    transition: 300ms linear;
    padding: .9rem 1.7rem .9rem 1.7rem;
}

.skillset:hover {
    background-color: #FFC300;
    color: #000000;
    transform: translateY(-4px);
}

.hero-section-right {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex: 1;
}

.hero-section-right img {
    max-width: 60%;
    height: auto;
}

.scroll-down {
    text-align: center;
}

.arrow-icon {
    color: #FFC300;
    font-size: 2rem;
    font-weight: 800;
    text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
}

.modal-content {
    background-color: #000000;
    /* border: 1px solid #FFC300; */
    height: 70%;
    padding-bottom: 2rem;
}

.avatar {
    background-color: red;
    height: 3.5rem;
    width: 3.7rem;
    border-radius: 50%;
    background-image: url(../assets/avatar.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.close-btn {
    color: #FFC300;
    font-size: 2.5rem;
    font-weight: 700;
}

.skill-item {
    position: relative;
    margin-bottom: 1rem;
}

.skill-item h1 {
    color: #FFC300;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}

.progress {
    width: 90%;
    height: 1.2rem;
    position: relative;
    margin-top: -.5rem;
}

.progress::after {
    position: absolute;
    height: 1rem;
    width: 1rem;
    background-color: #FFC300;
}

.progress::-webkit-progress-bar {
    appearance: none;
    border: 1.5px solid #FFC300 !important;
    background-color: #000000;
}

.progress::-webkit-progress-value {
    background-color: #FFC300 !important;
}

@media screen and (max-width: 992px) {
    .hero-section-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .hero-section-left {
        text-align: center;
    }

    .hero-section-left h1 {
        line-height: 50px;
    }

    .btn-group {
        justify-content: center;
    }

    .skillset {
        padding: .9rem 1.7rem 2.3rem 1.7rem;
    }
}

@media screen and (max-width: 768px) {
    .btn-group {
        flex-direction: column;
        align-items: center;
    }

    .skillset {
        margin-left: 1.2rem;
    }
}