* {
    text-decoration: none !important;
}

li {
    list-style: none;
}

.nav {
    width: 100vw;
    background-color: #000000 !important;
    margin-top: -8px;
}

.nav-content {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding-left: 2rem;
}

.nav-left h1 {
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
}

.menu-icon {
    color: #FFC300;
    font-size: 2rem;
    border: none !important;
    outline: none !important;
    background-color: none;
    margin-right: 1.2rem;
    position: relative;
}

.menu-icon:focus,
.menu-icon:active {
    border: none;
    outline: none;
    background-color: none !important;
}

.menu-icon .icon {
    z-index: 999999999;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
}

.nav-item {
    margin-right: 3rem !important;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    height: 2rem !important;
    padding-bottom: 1rem;
}
.nav-item-link {
    color: #fff;
}

.nav-item-link.active {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid #FFC300;
    padding-bottom: .3rem;
}

.close-btn {
    font-size: 2rem;
    font-weight: 700;
}

.side-menu {
    height: 15rem;
    width: 12rem;
    background-color: #FFC300;
    border-radius: 10px;
    position: absolute;
    right: 1.5rem;
    top: 5rem;
    display: flex;
    transition: 300ms linear;
    /* align-items: center; */
}

.side-menu-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 12rem;
    padding: 0;
}

.side-menu-items li:first-child .nav-link {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.side-menu-items li:last-child .nav-link {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.side-menu-item {
    color: #000814;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    padding: .3rem 0rem .3rem 0rem;
    /* border-radius: 10px; */

}

.side-menu-item > .active {
    background-color: #e8b510 !important;
    color: #000000;
}

.nav-link {
    color: #000000 !important;
}


@media screen and (max-width: 768px) {
    .nav-items {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .menu-icon {
        display: none;
    }
}