.project-section {
    background-color: #000000;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border: none;
}

.project-section-content h1 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.project-section-content h1 span {
    color: #F37335;
}

.project-section-content p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-top: 1.5rem;
    line-height: 25px;
    text-align: left;
    white-space: wrap;
    width: 50%;
}

@media screen and (max-width: 992px) {

    .project-section-content {
        text-align: center;
    }

    .project-section-content p {
        width: 100%;
        text-align: center;
    }
}